/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(IMG/B1.jpg); /* Cambia 'background.jpg' por el nombre de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-attachment: fixed;
}

header {
  background-color: #333; /* Color de fondo de la barra de navegación */
  color: #fff; /* Color de texto */
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.slider {
  overflow: hidden; /* Oculta el texto que desborda */
}

.text {
  display: inline-block;
  animation: slide 10s infinite; /* Animación de desplazamiento */
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.container {
  width: 90%; /* Ancho máximo del contenedor al 90% */
  margin: 100px auto; /* Ajustar el margen superior e inferior */
  text-align: center;
}

#titulo {
  margin-bottom: 20px; /* Agregamos un margen inferior para separarlo del cuadro */
}

#cuadro {
  width: 300px;
  height: 50px;
  background-color: #3498db;
  margin: 0 auto; /* Esto centra el cuadro horizontalmente */
  border-radius: 50px; /* Radio de las esquinas redondeadas */
}

#cambiarColorBtn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #2ecc71;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px; /* Radio de las esquinas redondeadas */
}

body img {
  max-width: 100%; /* Establecer el ancho máximo al 100% */
  height: auto; /* Permitir que la altura se ajuste automáticamente */
}

footer {
  background-color: white;
  height: auto; /* Cambiado a altura automática */
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 50vh; /* Mover el pie de página hacia abajo */
}

.footer-content {
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  align-items: center; /* Centrar elementos horizontalmente */
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  text-align: center; /* Centrar el texto */
}

.logo, .privacy, .social-media, .copyright {
  margin-top: 30px; /* Añadir espacio entre cada elemento */
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Ajustar la separación desde la parte superior */
}

.social-media img {
  width: 30px; /* Ajustar el ancho de los iconos */
  height: auto; /* Mantener la proporción original */
  margin: 0 30px; /* Ajustar el espacio entre los iconos */
}
